.slider {
    width: 740px;
    height: 300px;
    margin: 80px auto 0;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    position: relative;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    outline: 1px solid red; /* remove */
}

.slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.slider__card {
    position: absolute;
    width: 100%;
    min-width: 740px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.slider .slider__card {
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    /* animation duration can't be greater than variable interval in JS! */
    /* check JS for other settings */
    animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
}

.dots {
    padding-top: 30px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    padding: 5px;
}

.active-dot {
    background: black;
    cursor: default;
}

@keyframes leftNext {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes leftCurr {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes rightNext {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes rightCurr {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
